* {
    margin: 0;
    padding: 0;
}

.navMenu,
.navMenu-1 {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    background-color: #C7A7FB;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.navMenu-1 {
    justify-content: center;
}

.menuIcon i {
    color: #FFFFFF;
}

#dropDownMenu {
    display: none;
    margin-left: 100vw;
}

#dropDownMenu ul {
    list-style: none;
    padding: 0;
}

#dropDownMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropDownMenu a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
}

#dropDownMenu hr {
    height: 2px;
    color: #C7A7FB;
}

#hr {
    margin-top: 0px;
}